
/* GLOBAL */
* {
    font-family: 'Roboto';
    margin:0;
	padding:0;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* NAVBAR */
header {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
}
#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
  }
  #navbar img {
    width: 40px;
  }


/* SEARCH */
.search {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 1px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
}

/* FORM CADASTRAR EVENTO */
#event-create-container {
    padding: 30px
  }
  
  #event-create-container label {
    font-weight: bold;
  }
  
  #event-create-container input,
  #event-create-container select,
  #event-create-container textarea {
    font-size: 12px;
  }

/* FOOTER */

footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}

footer p {
    margin-top: 15px;
    font-size: 14px;
}

/* footer img {
    height: 50px;
    width: 100px;
    margin-right: 20px;
  
  } */